* {
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.day-forecast {
  border: 1px solid gray;
  box-shadow: 0px 0px 10px grey;
  border-radius: 5px;
  
  padding: 20px;
}

.day-forecast-overview {
  font-size: 18px;
  font-weight: 500;
}


.day-forecast-card {
  margin: 10px 0 0 0;
  
  display: flex;
  justify-content: space-evenly;
}

.search {
  margin: 0 0 30px 0;
  height: 50px;
}

.search-container {
  border: 1px solid black;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-input {
  height: 50px;
  width: 70%;
  border: none;
  outline: none;
  font-size: 26px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.search-icon {
  font-size: 35px;
  cursor: pointer;
}

.search-icon:hover {
  color: blue
}

.weather-card * {
  margin: 0;
}

.weather-card:not(:last-child){
  padding-right: 10%;
  border-right: 1.5px solid;
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(226, 226, 226, 1) 48%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
}

.weather-card-icon {
  width: 60px;
  height: 60px;
}

.weather-card-temp {
  font-size: 36px;
}

.weather-card-time {

}

.weather-card-precip {
  font-weight: 600;
}

.weather-card-precip-icon {
  width: 30px;
  height: 30px;
}

.weather-city {
  font-weight: 800;
}

.weather-detail {
  background: url('../assets/day.jpeg') no-repeat center;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  /* border: 1px solid black; */
  margin: 0 0 20px 0;
}

.weather-detail-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 0 10px;
}

.weather-headline {
  font-size: 18px;
  font-weight: 500;
}

.weather-forecast {
  font-size:24px;
  
}
.weather-forecast * {
  margin: 0;
}

.weather-forecast-temp {
  font-size: 36px;

}

.weather-forecast-condition {

}

.weather-forecast-dn {
  width: fit-content;

  display: flex;
  justify-content: space-between;
}

.weather-forecast-dn > p {
  margin: 0 10px 0 0;
}

.weather-heading {
  background: rgba(17,32,50,0.5);
  color: white;
  height: 40px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  padding: 0 0 0 10px;

  font-size: 18px;
  font-weight: 500;
}

.weather-icon {
  height: 100px;
  width: 100px;
}

.weatherDay {
  height: fit-content;

  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0 0 10px gray;
  margin: 20px 0 0 0;
  padding: 20px
}

.weatherDay * {
  margin: 0;
}

.weatherDay-detail {
  display: flex;
  justify-content: space-between;

  margin: 20px 0 0 0;
}

.weatherDay-detail-overview {
  width: 48%;
}

.weatherDay-detail-overview > div {
  display: flex;
  justify-content: space-between;

  border-top: 1px solid gray;
  line-height: 45px;
}

.weatherDay-Location {
  
}

.weatherDay-condition {
  font-size: 16px;
}

.weatherDay-temp {
  font-size: 42px;
}

.weatherDay-overview {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.weatherDay-sun {
  display: flex;
  
}
